{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      <!-- Adds dropdown for doc versions (added by josh-wong) -->
      <nav id="site-nav" class="version-greedy-nav">
        <ul class="version-visible-links">
        {%- for link in site.data.navigation.versions -%}
          {% assign class = nil %}
          {% if page.version-url contains link.version-url %}
            {% assign class = 'active' %}
          {% endif %}
          {% if link.version-children %}
          <li class="version-dropdown {{ class }}">
            <label for="touch"><a class="version-dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ include.title | default: site.data.ui-text[site.locale].version_label }}&nbsp;<!-- Would be nice to have the version number automatically appear in the dropdown menu header (modified by josh-wong) -->&nbsp;<span><svg class="version-dropdown-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path></svg></span></a></label>
            <input type="checkbox" id="touch">
            <ul class="version-dropdown-content">
              {% for version-children in link.version-children %}
                <li>
                  <a href="{{ site.baseurl }}{{ version-children.version-url }}">
                    <span>{{ version-children.version-title }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
