/* ==========================================================================
   MASTHEAD
   ========================================================================== */

   .masthead {
    position: fixed; // Makes the header/masthead fixed to the top of the page when scrolling; originally `position: relative` (modified by josh-wong).
    background-color: $background-color; // Added so that there's a background (rather than being transparent) below around the header navigation (added by josh-wong).
    width: 100%; // Added to make the header/masthead extend across the top of the screen (added by josh-wong).
    border-bottom: 1px solid $border-color;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 20;
  
    &__inner-wrap {
      @include clearfix;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: $sans-serif-narrow;
  
      @include breakpoint($x-large) {
        max-width: $max-width;
      }
  
      nav {
        z-index: 10;
      }
  
      a {
        text-decoration: none;
      }
    }
  }
  
  .site-logo img {
    max-height: 2rem;
  }
  
  .site-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: bold;
    // z-index: 20;
  }
  
  .site-subtitle {
    display: block;
    font-size: $type-size-8;
  }
  
  .masthead__menu {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
  
    .site-nav {
      margin-left: 0;
  
      @include breakpoint($small) {
        float: right;
      }
    }
  
    ul {
      margin: 0;
      padding: 0;
      clear: both;
      list-style-type: none;
    }
  }
  
  .masthead__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;
    font-size: $type-size-5-5;
    font-weight: 500;
    margin-top: 0.2em; /* Added to make the Support link horizontally aligned with the other header navigation items (added by josh-wong) */
  
    &--lg {
      padding-right: 2em;
      font-weight: 700;
    }
  }
  
  /* Add styles to support the switcher for languages in `masthead.html`, which are specified in `navigation.yml` (added by josh-wong) */
  
  .language-greedy-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: $nav-height;
    /* width: 190px; */
    margin-bottom: -0.25em;
    
    /* Added to hide the language dropdown menu on mobile and narrow screens since it makes the Scalar logo tiny (added by josh-wong). */
    // @media screen and (max-width: $small) {
    //   display: none;
    // }

      a {
        display: block;
        padding: 0.3em 0 0.2em 0;
        color: $background-color;
        text-decoration: none;
        -webkit-transition: none;
        transition: none;
        font-size: $type-size-5-25;
    
        &:hover {
          color: $background-color;
        }
      }
    }
    
    .language-visible-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-start;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      /* overflow: hidden; */
      /* max-width: fit-content; */
    
      li {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        font-size: $type-size-5;
        background-color: $background-color;
      }
    
      a {
        position: relative;
        color: $background-color;
        cursor: pointer;
        opacity: unset;
    
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0px; /* Modified to remove the gray underline when hovering over links in the header navigation in `masthead.html`; originally `4px;` (modified by josh-wong) */
          background: $primary-color;
          width: 100%;
          -webkit-transition: $global-transition;
          transition: $global-transition;
          -webkit-transform: scaleX(0) translate3d(0, 0, 0);
          transform: scaleX(0) translate3d(0, 0, 0); // hide
        }
    
        &:hover:before {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); // reveal
        }
      }
    
      .language-toggle {
        color: $language-toggle;
      }

      .language-dropdown {
        float: left;
        /* width: 210px; */
        min-width: 100%;
        /* max-width: 75%; */
        font-size: $type-size-5;
        font-weight: 500;
        vertical-align: middle;
        cursor: default;
        /* background-color: $scalar-light-gray-background-color; */
        /* outline-color: $scalar-primary-color; */
        margin: 0 0 -0.25em 0;
  
        li {
          line-height: 1em;
        }
        /* &:hover {
          background-color: mix($gray, $background-color, 20%);
        } */
      }
    
      .language-dropdown-arrow {
        max-width: 20px;
        vertical-align: middle;
        padding-top: 2px;
        float: right;
      }
    
      .language-dropdown-content {
        display: none;
        position: absolute;
        background-color: $background-color;
        box-shadow: $box-shadow;
        z-index: 21;
        border: 1pt solid $border-color;
        /* width: 210px; */
        min-width: 100%;
        /* max-width: 75%; */
        padding-top: 5px;
        padding-bottom: 5px;
  
        li {
          padding: 0;
          margin: 0;
        }
      }
    
      .language-dropdown-content a {
        padding: 0 15px 0 15px;
        margin: 1px;
        color: $dark-gray;
        line-height: 1.6em;
        margin-bottom: 0;
      }
    
      /* Adds support for a clickable language dropdown menu (added by josh-wong) */
      #touch-language {
        position: absolute;
        opacity: 0;
        height: 0px;
      }    
  
      #touch-language:checked + .language-dropdown-content {
        min-height: 100%;
        display: block;
      }
  
      /* The following dropdown method is `hover`, which is the default behavior in Minimal Mistakes theme. Comment this out if we want the dropdown to be clicked on rather than hovered over to access (modified by josh-wong).
      .language-dropdown:hover .language-dropdown-content {
        display: block;
      } */
    
      .language-dropdown-content a:hover {
        background-color: $scalar-light-gray-background-color;
      }
    
      .language-dropdown-content a:not(:last-child) {
        border-bottom: none; 
      }
    }

    .hidden {
      display: none;
    }